<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test1">
        <classes>
            <class name="DataShare.CreateBookingViaITestContextWithinSuite_v46"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test2">
        <classes>
            <class name="DataShare.GetBookingDetailsITestContextWithinSuite_v46"/>
        </classes>
    </test>

    </suite>